.repo-nav {
  display: grid;
  justify-items: center;
  font-family: 'Big Shoulders Display', cursive;

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 20px;
    justify-items: center;

    li {
      text-transform: uppercase;
      
      button {
        border: none;
        font-size: 20px;
      }
    }
  }
}