h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Big Shoulders Display', cursive;
}

.battle {
  font-size: 30px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  display: flex;
  padding: 10px 40px;
  border: 0;
  color: white;
  margin-top: 50px;
}