main {
  > section {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 30px;
    justify-items: center;
    height: 100vh;

      > ul {
      padding: 40px;
      display: block;
      background-color: #eee;
      list-style: none;
      font-family: 'Big Shoulders Display', cursive;
      margin: 0;

      img {
        max-width: 300px;
        margin: 0 auto;
      }

      h4 {
        font-size: 30px;
        margin-top: 0;
      }

      h5 {
        font-size: 24px;
      }

      > li {
        background-color: #f0f0f0;
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        padding: 40px 0;

        > a {
          margin-left: 5px;
        }

        > ul {
          display: block;
          list-style: none;
          padding: 0;
          line-height: 1;

          > li {
            padding: 4px 0;
          }

          > li > svg {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .reset {
    font-size: 30px;
    background-color: black;
    margin: 0 auto;
    text-align: center;
    display: flex;
    padding: 10px 40px;
    border: 0;
    color: white;
    margin-top: 50px;
  }
}